.search-container{
  margin-top: 12px;
}

.search-bars-btn{
  float: right;
}

#chart_div {
  height: 600px;
  width: 100%;
}

.stock-label{
  border: 1px solid #ddd;
  height: 110px;
  overflow: hidden;
}

.close-stock {
  position: absolute;
  top: 12px;
  right: 12px;
}

#footer {
  font-size: 8pt;
  text-align: center;
  color: #ccc;
}